*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-container{
    width: 100%;
    height: 70px;
    /* max-width: 960px; */
    padding: 10px 10px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #be3144;
    color: #fff;
}

.logo-img{
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

.nav-items a{
    font-size: 22px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

.nav-items a:hover{
    height: 11vh;
    position: relative;
    bottom: 9px;
    background: #45567d;
}



/* SECTION 1 */

.section1{
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.section1-text{
    position: relative;
    top: 15rem;
}

.section1-h1{
    font-size: 60px;
    text-align: center;
    color: #fff;
}

.section1-h4{
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    color: #be3144;
}

/* SECTION 2 */

.section2{
    width: 100%;
    height: 100%;
    padding: 8rem 2rem;
    background: #45567d;
}

.section2-h1{
    width: 642px;
    font-size: 42px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.section2-projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.section2-projects img{
    width: 400px;
    height: 380px;
    padding-top: 15px;
}

.imgcontainer p{
    width: 400px;
    height: 68px;
    font-size: 20px;
    padding: 22px;
    text-align: center;
    position: relative;
    bottom: 4px;
    cursor: pointer;
    color: #fff;
    background: #303841;
}

span{
    transition: color 0.3s ease-out;
    color: #e27e0c;
}

.sec2-btn{
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 4rem;
    left: 36rem;
    background-color: #303841;
    color: #fff;
}

/* SECTION 3 */

.section3{
    width: 100%;
    height: 60vh;
    background: #303841;
    padding: 3rem 16rem;
}

.sec3-h1{
    font-size: 60px;
    text-align: center;
    padding: 10px 0;
    color: #f0f0f0;
}

.sec3-h4{
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: #f0f0f0;
}

.sec3-contact{
   display: flex;
}

.sec3-contact a{
    font-size: 24px;
    padding: 4rem 5px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
}

/* FOOTER */

.footer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
    border-top: 5px solid #be3144;
    background: #303841;
}

.footer-h1{
    font-size: 18px;
    font-weight: 300;
    color: #f0f0f0;
}

.footer-h2{
    font-size: 18px;
    font-weight: 300;
    color: #f0f0f0;
}


@media (min-width: 900px){
    .section1{
        width: 100%;
        height: 40vh;
        background-color: #333;
    }
    .section1-h4{
        font-size: 50px;
        font-style: italic;
        font-weight: 300;
        text-align: center;
        padding: 10px;
        color: #be3144;
    }

    .sec2-btn{
        left: 22rem;
    }

    .section3{
        width: 100%;
        height: 40vh;
        background: #303841;
        padding: 7rem 2rem 3rem 2rem;
    }
    
    .sec3-h1{
        font-size: 60px;
        text-align: center;
        padding: 15px 0;
        color: #f0f0f0;
    }
    
    .sec3-h4{
        font-size: 25px;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        padding: 18px 0;
        color: #f0f0f0;
    }
    
    .sec3-contact{
       display: flex;
    }
    
    .sec3-contact a{
        font-size: 24px;
        font-weight: 300;
        padding: 4rem 5px;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        text-decoration: none;
        color: #f0f0f0;
    }

    .footer{
        padding: 5rem 2rem;
    }
}
